.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}

.places {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    flex: 100% 0 1;
    padding: 30px 40px 0px 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.places h2 {
    font-size: 30px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: auto;
    right: 8%;
}

.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.information p {
    padding-top: 40px;
}

.max_guest {
    width: 100px;
    background: url(../images/icon_group.png) no-repeat top;
}

.number_rooms {
    width: 100px;
    background: url(../images/icon_bed.png) no-repeat top;
}

.number_bathrooms {
    width: 100px;
    background: url(../images/icon_bath.png) no-repeat top;
}

.user p {
    padding-top: 10px;
    margin-bottom: -7px;
    text-align: left;
}

.description p {
    text-align: left;
}

.places .amenities {
    padding-top: 10px;
}

.amenities h2 {
    border-bottom: #DDDDDD 1px solid;
    font-size: 16px;
    text-align: left;
    padding-bottom: 5px;
}

.amenities ul {
    list-style-type: none;
    margin-left: -40px;
    text-align: initial;
}

.tv {
    background: url(../images/icon_tv.png) no-repeat left;
    background-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.wifi {
    background: url(../images/icon_wifi.png) no-repeat left;
    background-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pet {
    background: url(../images/icon_pets.png) no-repeat left;
    background-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.amenities p {
    padding-left: 40px;
}

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: #DDDDDD 1px solid;
    text-align: initial;
    padding-bottom: 5px;
}

.reviews h3 {
    font-size: 14px;
    text-align: initial;
    margin-left: -40px;
    margin-bottom: 6px;
    margin-top: 20px;
}

.reviews ul {
    list-style: none;
}

.reviews p {
    font-size: 12px;
    text-align: initial;
    margin-left: -40px;
}