.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    float: right;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-top: 12px;
    margin-right: 30px;
}

.filters button :hover {
    opacity: 90%;
}

.filters .locations,
.filters .amenities {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 25%;
}

.locations {
    border-right: #DDDDDD 1px solid;
}

.filters h3 {
    font-weight: 600;
    margin-left: 40px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 40px;
    margin-top: -15px;
}

.filters .popover {
    display: none;
    color: #FAFAFA;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    background-color: #fafafa;
    color: #484848;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: list-item;
}

.popover {
    list-style-type: none;
    top: 70px;
}

.filters .amenities ul {
    list-style-type: none;
    padding-top: 20px;
}

.filters .locations ul {
    list-style-type: none;
}

.filters .locations li {
    margin: auto auto 5px 6px;
    margin-left: 5px;
}

.filters .amenities li {
    margin: 0px auto 6px 6px;
}

.filters h2 {
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: auto;
}

.popover h2 {
    margin-top: 30px;
}

.filters .amenities .popover {
    left: -5px;
}